<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowdiz.finalproj.mapper.AdminMapper">

	<select id="selectAwaitingProjectList" resultType="MakerDto">
		SELECT * FROM project WHERE approved="N" 
		<!-- AND open_date <![CDATA[>]]> now()  -->
		ORDER BY reg_date desc
	</select>
	
	<select id="selectOnProjectList" resultType="MakerDto">
		SELECT * FROM project where approved="Y" order by reg_date desc 
	</select>
	
	<select id="selectFinishedProjectList" resultType="MakerDto">
		SELECT * FROM project where close_date <![CDATA[<]]> now() order by reg_date desc
	</select>
	
	<select id="selectOneProject" resultType="MakerDto">
		SELECT * FROM project WHERE project_id = #{project_id}
	</select>
	
	<select id="selectProjectDetail" resultType="MakerDto">
		SELECT * FROM project
		LEFT JOIN project_reward ON project.project_id = project_reward.project_id
		LEFT JOIN project_reward_option ON project_reward.project_id = project_reward_option.project_id
		WHERE project.project_id = #{project_id};
	</select>
	
	<update id="updateProjectApproved" parameterType="AdminDto">
		UPDATE project 
		SET approved = #{approved}, approved_date = now()
		WHERE project_id = #{project_id}
	</update>
</mapper>


