<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowdiz.finalproj.mapper.NoticeMapper">
	 <select id="noticeAllSelect" resultType="NoticeDto">
		SELECT admin_id, notice_title, notice_content, write_date,
		view_count, important FROM notice ORDER BY notice_id DESC;
	 </select>
</mapper>
