<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowdiz.finalproj.mapper.RewardMapper">

	<select id="selectRewardResultMap" parameterType="String" resultMap="rewardResultMap" >    
		SELECT pr.reward_id
        , 	pr.reward_price
        , 	pr.reward_title
        , 	pr.reward_info
        ,	pr.purchase_limit
        ,	pr.require_parcel
        ,	pr.parcel_fee
        ,	pro.reward_option_id
        ,	pro.reward_option_name
        ,	pro.reward_option_detail
		,	pro.reward_option_type
        FROM project_reward AS pr
		LEFT OUTER JOIN project_reward_option AS pro
			ON pr.project_id = pro.project_id
			AND pr.reward_id = pro.reward_id
		WHERE pr.project_id = #{project_id}
		ORDER BY pr.reward_order ASC, pro.reward_option_id ASC;
    </select>

    <resultMap id="rewardResultMap" type="RewardAndRewardOptionDto">
        <id column="reward_id" property="reward_id"/>
        <result column="project_id" property="project_id"/>
        <result column="reward_order" property="reward_order"/>
        <result column="reward_price" property="reward_price"/>
        <result column="reward_title" property="reward_title"/>
        <result column="reward_info" property="reward_info"/>
        <result column="purchase_limit" property="purchase_limit"/>
        <result column="require_parcel" property="require_parcel"/>
        <result column="parcel_fee" property="parcel_fee"/>
<!--         <association property="rewardOptionDto" >
        	<result column="reward_option_id" property="reward_option_id"/>
			<result column="project_id" property="reward_id"/>
			<result column="reward_id" property="reward_id"/>
			<result column="reward_option" property="reward_option"/>
			<result column="reward_option_detail" property="reward_option_detail"/>
			<result column="reward_option_type" property="reward_option_type"/>
        </association> -->
		<collection property="rewardOptionDto" ofType="RewardOptionDto" javaType="java.util.List">
			<id column="reward_option_id" property="reward_option_id"/>
			<!--
			<result column="project_id" property="reward_id"/>
			<result column="reward_id" property="reward_id"/>
			 -->
			 <result column="reward_option_name" property="reward_option_name"/>
			<result column="reward_option_detail" property="reward_option_detail"/>
			<result column="reward_option_type" property="reward_option_type"/>
		</collection>
    </resultMap>
    
	<select id="selectReward" resultType="RewardDto" parameterType="String">
		SELECT reward_id
       ,	project_id
       ,	reward_order
       ,	reward_price
       ,	reward_title
       ,	reward_info
       ,	purchase_limit
       ,	require_parcel
       ,	parcel_fee
       FROM project_reward
       WHERE project_id=#{project_id}
       ORDER BY reward_order ASC;
	</select>
    
    <select id="selectRewardOption" resultType="RewardOptionDto" parameterType="String">
		SELECT reward_option_id
        ,	project_id
        ,	reward_id
        ,	reward_option
        ,	reward_option_detail
        ,	reward_option_type
    	FROM project_reward_option
    	WHERE project_id=#{project_id}
    		AND reward_id=#{reward_id}
    	ORDER BY reward_option_id ASC;
    </select>


</mapper>
