/* 운영자 레이아웃 CSS */

@charset "utf-8";

.admin_wrap{

}

.admin_header_full{
    background-color: #80DACE;
    width: 100%;
    border: 0px solid black;
}

.admin_header_wrap{
    width: 1200px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    border: 0px solid black;
    color: white;
}

.admin_content_wrap{
    width: 1200px;
    margin: 0 auto;
}

.admin_footer_full{
    width: 100%;
    background-color: #80DACE;
    border: 0px solid black;
}

.admin_footer_wrap{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    border: 0px solid black;
}

.admin_header_menu_link {
    text-decoration: none;
    color: white;
}

.admin_header_menu{
    position: relative;
}

.admin_header_menu span{
    cursor: pointer;
}

.drop_admin_menu_funding{
    position: absolute;
    left: 100px;
    top: 55px;
    background-color: #3CBBA4;
    display: inline-block;
    border-radius: 25px;
    padding: 10px;
    height: 40px;
    line-height: 40px;
}

.admin_header_menu_link{
    float: left;
    margin-left: 20px;
    
}

.admin_header_menu{
    list-style: none;
}