.slick-slider {
  position: relative;
  background: gainsboro;
  display: inline-block;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-prev:before,
.slick-next:before {
  width: 50px;
  color: black;
}
.category_wrap {
  width: 100%;
  height: 200px;
  margin: 100px auto;
  text-align: center;
}
.category_icon {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  background: #dedede no-repeat 50% / cover border-box;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
}
.category_container {
  display: inline-block;
  margin-right: 18px;
}
.category_name {
  margin-top: 60px;
  line-height: 18px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}
