.header {
  background-color: #9ac7f8;
  /* width: 100%; */
  width: 1200px;
  border: 1px inset white;
  height: 70px;
}
.logo_image {
  width: 95px;
  height: 40px;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}
.header_menu {
  
  list-style: none;
}
.header_menu > li {
  line-height: 40px;
  letter-spacing: -0.6px;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  position: relative;
  cursor: pointer;
  padding: 1px 10px;
  text-align: left;
  color: white;
  text-decoration: none;
  float: left;
  margin-left: 20px;
}

.menu_li {
  text-decoration-line: none;
  color: white;
}
.user_bar {
  margin-left: 50px;
  float: right;
}

.user_bar_li {
  text-decoration-line: none;
  color: white;
  margin-left: 1px;
  font-weight: 700;
  margin-right: 15px;
  line-height: 65px;
  font-size: 14px;
}
.search_bar {
  display: inline-block;
  padding-right: 10px;
  margin-left: 150px;
  min-width: 100px;
}
.search_form {
  display: block;
  position: relative;
  border: 1px solid #00c4c4;
  border-radius: 20px;
  height: 40px;
  padding: 0;
  left: 0px;
  top: 5px;
  box-sizing: border-box;
  width: 300px;
}
.keyword {
  vertical-align: baseline;
  font: inherit;
  font-family: roboto, Noto Sans KR;
  margin: 0;
  border: 0;
  padding: 0;
  letter-spacing: 0;
  font-size: 14px;
  font-style: normal;
  outline: none;
  appearance: none;
  background: none;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  line-height: 40px;
  color: #212529;
  text-overflow: inherit;
  white-space: inherit;
  width: 220px;
}

.login_wrap {
  display: inline-block;
  margin-top: 5px;
  margin-left: 100px;
}
.user_bar_login_name {
  display: inline-block;
  color: white;
  font-weight: 700;
  margin-right: 20px;
}
.user_bar_login {
  display: inline-block;
}

