.main {
    width: 1200px;
}
.main_banner {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 330px;
    display: flex;
    opacity : 0.8;
    filter: alpha(opacity=70);
   -moz-opacity:0.7;
   -khtml-opacity: 0.7;

}

.banner_title {
    position: relative;
    top: 55%;
    left: 7%;
    color: white;
    font-size: 22px;
    font-weight: 700;

}
.banner_type {
    position: absolute;
    top: 70%;
    left: 7%;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.main_line{
    display: flex;
    width: 1200px;
    height: 600px;
}
.preference_funding_form {
    display: inline-block;
    width: 800px;
    height: 650px;
     /* background-color: aqua;  */
    line-height: 0.5;
    
}
.preference_funding {
     /* background-color: aqua;  */
    text-align: center;
    line-height: 0.9;
    
}
.rangking_funding_form {
    display: inline-block;
    width: 400px;
    /* background-color: yellow; */
    height: 600px;
    text-align: center;
    line-height: 0.9;
}
.rangking_funding {
    /* background-color: aqua;  */
   text-align: center;
   line-height: 0.9;
   
}

.preference_line {

}
.preference_line_sub {
    color: gray;
    font-weight: 800;
    
}
.perference_funding_detail {
    display: inline-block;
    float: left;
    width: 250px;
    height: 280px;
    margin-left: 10px;
}

.perference_funding_detail_image {
    width: 240px;
    height: 150px;
}

.perference_fundig_title {
    color: black;
    width: 240px;
    height: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 0.9;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
.perference_funding_percent {
    display: inline-block;
    color: #00c4c4;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}
.perference_funding_price {
    display: inline-block;
     color: black;
    font-size: 14px;
    margin-left: 10px;
}


.middle_div{
 position: relative;
}
.midle_var {
    position: absolute;
    top: 4px;
    width: 236px;
    border: 2px solid rgb(189, 188, 188);
    background-color: rgb(189, 188, 188);
    max-width: 236px;
    float: left;
    margin-top: 1px;
}
.midle_var_gauge {
    position: absolute;
    top: 4px;
    border: 2px solid #00c4c4;
    background-color: #00c4c4;
    max-width: 236px;
    float: left;
    margin-top: 1px;
}
.perference_fundig_category {
    line-height: 0.99;
    width: 240px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 700;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    margin-top: 0.5px;
    color: rgb(148, 148, 148);
}
.perference_fundig_maker {
    line-height: 0.99;
    display: inline-block;
    width: 240px;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -5px;
}

.rangking_line {

}
.leangking_line_sub {
    color: gray;
    font-weight: 800;
    
}

.rangking_funding_detail {
    display: inline-block;
    width: 190px;
    height: 500px;
}

.rangking_funding_detail_image {
    position: relative;
    width: 190px;
    height: 150px;
}

.rangking_fundig_title {
    position: relative;
    top: 12px;
    color: black;
    width: 170px;
    height: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 0.9;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
.rangking_funding_percent {
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}
.midle_rangking_var_gauge {
    border: 1px solid #00c4c4;;
    max-width: 190px;
    float: left;
    margin-top: 1px;
}
.rangking_fundig_category {
    line-height: 0.9;
    width: 190px;
    height: 12px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 700;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    margin-top: 1px;
}

.rangking_chart {
    position: absolute;
    margin: 0 auto;
    top: 100px;
    left: 55px;
    width: 80px;
    
}