div.maker_open_project{
    display: block;
}

div.reward_submit_btn{
    display: inline-block;
    border: 1px solid #ed1971;
    color: #ed1971;
    border-radius: 5px;
    width: 280px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-right: 15px;
    text-align: center;
    float: right;
    cursor: pointer;

}

div.reward_submit_btn:hover{
    background-color: #ed1971;
    color: white;
    transition: all 0.2s;
}

div.maker_open_project_header{
    display: inline-block;
    background-color: #F8F8F8;
    width: 100%;
    height: 120px;
    line-height: 120px;
}

div.maker_open_project_header h2{
    margin-left: 50px;
}

div.maker_open_project_menu{
    width: 300px;
    display: inline-block;
}

div.maker_open_project_menu h3{
    margin-left: 25px;
    width: 300px;
    display: inline-block;
}

div.maker_open_project_rowmenu>h4{
    margin-left: 40px;
    padding-left: 20px;
    color: #9d9d9d;
    cursor: pointer;
    border-left: 3.5px solid #ffffff;
}

div.maker_open_project_rowmenu>h4.rowmenu_clicked{
    color: #69b1ff;
    border-left: 3.5px solid #69b1ff;
}

div.maker_open_project_form{
    display: inline-block;
    width: 850px;

}

/* 프로젝트 오픈 */
div.maker_open_project_form div{
    margin-bottom: 80px;
}

input.project_input{
    width: 500px;
    height: 35px;
    border: 0;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 5px;
}

span.target_money{
    color: #ff0071;
}

input.project_input_small{
    height: 35px;
    border: 0;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 5px;
}

img.project_file_input_img{
    width: 337px;
    cursor: pointer;
}

div.hashtag_arr{

    height: 100px;
    width: 500px;

}

span.keyword{
    background-color: #9ac7f8;
    margin-right: 10px;
    border-radius: 25px;
    padding: 3px 8px;

}

.delIcon{
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    top: 1px;
}

.reward_wrap{
    background-color: #f9f9f9;
    width: 870px;
    padding: 25px 15px;
}

input.reward_radio{
    visibility: hidden;
    cursor: pointer;
    width: 0;
    opacity: 0;
}

div.reward_wrap th{
    width: 130px;
    height: 60px;
    text-align: left;
    vertical-align: top;
    padding-top:10px;
}

div.reward_wrap td{
    vertical-align: top;
}

.reward_label_radio{
    display: inline-block;
    cursor: pointer;
    width: 150px;
    text-align: center;
    background-color: white;
    height: 35px;
    line-height: 35px;
    border: 1px solid #c4c4c4;
    color: gray;
    padding: 3.5px;
}

.reward_label_radio_checked{
    text-align: center;
    display: inline-block;
    background-color: #004d9f;
    cursor: pointer;
    width: 150px;
    height: 35px;
    line-height: 35px;
    color: white;
    padding: 5px;
}

input.select_reward_quantity{
    margin-left: 15px;
    width: 150px;
    height: 35px;
    border: 0;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 5px;
}

.reward_content{
    width: 500px;
    height: 300px;
    border: 0;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 5px;
}

button.reward_btn_reg{
    margin-left: 300px;
    margin-right: 15px;

}

button.reward_btn_reg, button.reward_btn_reset{
    width: 150px;
    height: 40px;
    border: 0;
    border: solid 1px #ccc;
    background-color: white;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 15px;
}

button.reward_btn_reg:hover, button.reward_btn_reset:hover{
    background-color: #004d9f;
    color: white;
    transition: all 0.2s;
}

div.reward_preview{
    width: 350px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 25px;
    padding-left: 15px;
}

h3.reward_preview_possibility{
    background-color: #ed1971;
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

hr.reward_preview_line{
    border: 0.3px dotted #ebebeb;
    width: 330px;
    margin: 15px 0 15px;
}

select.reward_preview_selector{
    height: 52px;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: -.033em;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    width: 95%;
}

input.reward_preview_short_answer{
    height: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: -.033em;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    width: 89%;
    background-color: #f9f9f9;
}

div.reward_preview_btn{
    display: block;
    text-align: center;
    margin: 15px 0 15px -15px;
}

div.reward_preview_btn>label {
    display: inline-block;
    margin-right: 15px;
}

div.reward_preview_btn>label>span {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-left: 2px;
    top: -5px;
}

label.reward_preview_btn_necessity:hover,
label.reward_preview_btn_update:hover,
label.reward_preview_btn_delete:hover{
    transition: all 0.2s;
    background-color: #ededed;
    cursor: pointer;
    border-radius: 5px;
}

div.reward_option_btn{
    text-align: center;
    border: 1px solid #004d9f;
    color: #003f83;
    border-radius: 5px;
    width: 500px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
div.reward_option_btn:hover{
    background-color: #004d9f;
    color: white;
    transition: all 0.2s;
}

input.reward_option_type1{
    width: 215px;
    height: 35px;
    border: 0;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 5px;
}

input.reward_option_type2{
    width: 500px;
    height: 35px;
    border: 0;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 5px;
}

input.reward_option_type3{
    margin-left: 15px;
    width: 260px;
    height: 35px;
    border: 0;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 5px;
}

div.reward_return_policy{
    background-color: #F8F8F8;
    width: 870px;
    padding: 25px 15px;
}

div.reward_return_policy>textarea{
    width: 840px;
    height: 300px;
    border: 0;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 5px;
}

div.wowdiz_return_policy{
    background-color: white;
    border: solid 1px #ccc;
    margin-top: 25px;
    padding: 15px;
    font-size: 20px;
}


div.maker_success {
display: block;
margin: 0 auto;
width: 400px;
}

div.maker_success > img {
    width: 400px;
}

div.maker_success > p{
    height: 150px;
    width: 400px;
    font-size: 24px;
    font-weight: bold;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

div.maker_success_btn {
    display: inline-block;
    width: 400px;
    text-align: center;
}

div.maker_success_btn>div{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #c2c2c2;
    margin-left: 90px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;

}

div.maker_success_btn>div:hover{
    background-color: #004d9f;
    color: white;
    transition: all 0.2s;
}