.my_funding_list_wrap {
    width: 100%;
    display: block;
    height: inherit;
}
.my_funding_list {
    margin-top: 80px;
    width: 88%;
    margin-left: 50px;
    display: block;
}
.my_funding_list_itme {
    display: inline-block;
    height: 350px;
    width: 280px;
    float: left;
}

.my_funding_data {
    float: inline-start;
    width: 300px;
    display: inline-block;

    margin: 0 auto;
}
.my_funding_data > pre{
width: 400px;
white-space: pre-wrap;
overflow-x: auto;
}



