.notice_main {
  width: 1118px;
  height: auto;
  border: 0px solid black;
  margin: 0 auto;
}

.notice_wrap {
  list-style: none;
  display: inline-block;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
  background-color: aliceblue;
}

.notice_container {
  display: inline-block;
  width: 100%;
  max-width: 1098px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notice_important {
  display: inline-block;
  color: #4462ee;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}

.notice_title {
  display: inline-block;
  padding: 5px 0px 2px 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  width: auto;
  display: block;
}

.notice_admin,
.notice_date {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  color: #696f75;
  margin-top: 20px;
}

.notice_thum {
  width: 150px;
  height: 150px;
  float: right;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block
}

.notice_info {
  margin-left: 20px;
}