.detail_wrap{
    width: auto;
    padding: 20px;
}
p.detail_title{
    font-size: 22px;
    padding: 20px;
    margin: 0;
}
.detail_writer{
    font-size: 15px;
    border-bottom: 1px solid black;
    line-height: 30px;
    padding: 20px;
    text-align: right;
}
.detail_content{
    width: auto;
    height: 300px;
    border: 1px solid black;
    margin-top: 30px;
}
.button_warp{
    text-align: center;
    margin-top: 20px;
}
.button_answer, .button_delete{
    width: 80px;
    height: 30px;
    background-color: #80DACE;
    border: 0px;
    margin: 10px;
    cursor: pointer;
}