.answer_container{
    display: block;
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
}
.answer_user_name, .answer_user_email{
    display: inline-block;
    width: 260px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    font-size: 15px;
    padding: 0.75rem;
}
.user_info {
    margin: 0px 0px 0px 0px;
    display: inline;
    width: 300px;
}
.user_info_warp {
    display: block;
    width: auto;
}
