@charset "utf-8";

@charset "utf-8";

/* a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0px;
    border: 0px;
    padding: 0px;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
} */

em {
    font-style: normal;
}