  .support_home_layout {
    width: 100%;
    height: 990px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
  
  .support_menu_navi {
    width: 100%;
    height: 50px;
    background: rgba(154,199,248,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 47px;
  }

  .board_title {
    height: 236px;
    width: 100%;
    color: rgba(0,0,0,1);
    background: rgba(247,247,247,1);
    position: relative;
    font-family: Inter;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    line-height: 240px;
  }

  .support_menu {
    width: 120px;
    color: rgba(255,255,255,1);
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .support_menu.last{
    margin-right: 0px;
  }

  .delimiter{
    color: rgba(217,217,217,1);
  }